{% extends 'layout.html' %}
{% load static %}
{% block cssFiles %}
    <link rel = "stylesheet" href="{% static "challenges/challenge.css" %}">
    <link rel = "stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock  %}

{% block pageTitle %}
    {{monthName | title}} Challenge
{% endblock  %}

{% block content %}
    {% include  "challenges/shared/header.html" %}
    <h1>{{monthName | title}} Challenge</h1>
    {%if text is not None %}
        <h2>{{text}}</h2>
    {% else %}
        <p class= 'fallback'>There is no challenge for this month yet!</p>
    {% endif %}
{% endblock %}