{% extends "layout.html" %}
{% load static %}    

{% block cssFiles %}
    <link rel = "stylesheet" href="{% static "challenges/challenges.css" %}">
    <link rel = "stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock  %}

{% block  pageTitle%}
    All Challenges
{% endblock  %}

{% block content %}
{% include  "challenges/shared/header.html" %}
<ul>
    {% for month in months %}
        <li><a href="{% url "month-challenge" month %}">{{ month | title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}